main{
    margin: 100px;
    box-sizing: border-box;
}
.main-frm{
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 50px;
}
.main-frm div{
    padding-left: 15px;
}
.main-frm input{
    height:20px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid rgb(155, 154, 154);
}
.main-frm div button{
    padding: 10px 22px;
}
.main-rtcl{
    width: 100%;
    display: flex;
    margin-left: 20px;
}
.main-h3{
    margin-bottom: 10px;
}
.main-h3 h3{
    margin: 0;
    margin-left: 20px;
    font-weight: 400;
}
.main-rtcl Article{
    border: 1px solid black;
    padding:20px;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

